body {
  background-image: url(./1tech.jpg);
}

.contact {
  border-radius: 30px;
  width: 60%;
  padding: 200px;
  display: block;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-us {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 25px;
  line-height: 10px;
  text-align: center;
  padding: 100px;
}
